{% extends "layout2.html" %}
{% block content %}
    <h1>Welcome</h1>

    <form method="POST">
        {{ form.csrf_token }}<br><br>
        Captured
        {{ form.captured }}<br><br>
        Template
        {{ form.template }}<br><br>
        <input type="submit" class="btn btn-fill btn-info">
    </form>
    With all the apps that users love! Make it easy for users to share, like, post and tweet their favourite things from the app. Be sure to let users know they continue to remain connected while using your app!
    




{% endblock content %}